In [240]:
import pandas as pd
import numpy as np

In [241]:
df_balance = pd.read_csv("df_balance.csv", sep=";")

In [242]:
df_balance.head()

,HourUTC,HourDK,PriceArea,TotalLoad,Biomass,FossilGas,FossilHardCoal,FossilOil,HydroPower,OtherRenewable,SolarPower,Waste,OnshoreWindPower,OffshoreWindPower,ExchangeContinent,ExchangeGreatBelt,ExchangeNordicCountries,ExchangeGreatBritain
0,2023-12-31 22:00,2023-12-31 23:00,DK1,"2258,989990","187,929993","77,940002","120,820000","30,629999","3,410000","1,060000","0,000000","48,970001","1477,380005","1163,010010","3092,790039","-526,330017","-2178,909912","-597,450012"
1,2023-12-31 22:00,2023-12-31 23:00,DK2,"1491,219971","343,190002","79,580002","152,160004","24,559999",NaN,NaN,"1,180000","42,380001","177,309998","599,000000","896,630005","526,330017","-1316,880005",NaN
2,2023-12-31 21:00,2023-12-31 22:00,DK1,"2328,790039","96,779999","81,839996","127,230003","29,760000","3,410000","0,980000","0,000000","48,169998","1536,000000","1191,260010","3114,070068","-530,770020","-2167,129883","-605,719971"
3,2023-12-31 21:00,2023-12-31 22:00,DK2,"1542,040039","302,690002","80,199997","153,020004","24,690001",NaN,NaN,"1,180000","41,740002","179,479996","718,849976","846,090027","530,770020","-1303,420044",NaN
4,2023-12-31 20:00,2023-12-31 21:00,DK1,"2442,199951","31,049999","76,230003","156,199997","30,080000","3,410000","1,010000","0,000000","48,119999","1624,469971","1165,160034","3184,909912","-531,090027","-1869,939941","-795,309998"

In [243]:
df_exhange = pd.read_csv("df_exhange.csv", sep=";")

In [244]:
df_exhange.head()

,HourUTC,HourDK,PriceArea,ExchangeImportSE_MWh,ExchangeExportSE_MWh,ExchangeImportGE_MWh,ExchangeExportGE_MWh,ExchangeImportNL_MWh,ExchangeExportNL_MWh,ExchangeImportNO_MWh,ExchangeExportNO_MWh,ExchangeImportGB_MWh,ExchangeExportGB_MWh
0,2023-12-31 22:00,2023-12-31 23:00,DK1,"0,000000","-527,973000","2396,420000","0,000000","679,978000","0,000000","0,000000","-1700,872000","0,000000","-598,738953"
1,2023-12-31 22:00,2023-12-31 23:00,DK2,"0,000000","-1295,729250","883,481000","0,000000",NaN,NaN,NaN,NaN,NaN,NaN
2,2023-12-31 21:00,2023-12-31 22:00,DK1,"0,000000","-517,745000","2412,080000","0,000000","683,498000","0,000000","0,000000","-1700,675700","0,000000","-605,005813"
3,2023-12-31 21:00,2023-12-31 22:00,DK2,"0,000000","-1280,873258","833,465992","0,000000",NaN,NaN,NaN,NaN,NaN,NaN
4,2023-12-31 20:00,2023-12-31 21:00,DK1,"0,000000","-218,968000","2486,190000","0,000000","682,845000","0,000000","0,000000","-1693,280400","0,000000","-796,695435"

In [245]:
df_fcr = pd.read_csv("df_fcr.csv", sep=";")

In [246]:
df_fcr.head()

,HourUTC,HourDK,FCRdomestic_MW,FCRabroad_MW,FCRcross_EUR,FCRcross_DKK,FCRdk_EUR,FCRdk_DKK
0,2023-12-31 22:00,2023-12-31 23:00,"5,000000","18,000000","15,000000","111,790000","15,000000","111,790000"
1,2023-12-31 21:00,2023-12-31 22:00,"5,000000","18,000000","15,000000","111,790000","15,000000","111,790000"
2,2023-12-31 20:00,2023-12-31 21:00,"5,000000","18,000000","15,000000","111,790000","15,000000","111,790000"
3,2023-12-31 19:00,2023-12-31 20:00,"5,000000","18,000000","15,000000","111,790000","15,000000","111,790000"
4,2023-12-31 18:00,2023-12-31 19:00,"5,000000","18,000000","17,150000","127,800000","17,150000","127,800000"

In [247]:
df_forecast = pd.read_csv("df_forecast.csv", sep=";")

In [248]:
df_forecast.head()

,HourUTC,HourDK,PriceArea,ForecastType,ForecastDayAhead,ForecastIntraday,Forecast5Hour,Forecast1Hour,ForecastCurrent,TimestampUTC,TimestampDK
0,2023-12-31 22:00,2023-12-31 23:00,DK1,Offshore Wind,"947,750000","983,000000","999,875000","1016,291687","1000,291687",2023-12-31 22:01,2023-12-31 23:01
1,2023-12-31 22:00,2023-12-31 23:00,DK1,Onshore Wind,"1210,375000","1271,458374","1671,416626","1391,458374","1501,000000",2023-12-31 21:57,2023-12-31 22:57
2,2023-12-31 22:00,2023-12-31 23:00,DK1,Solar,"0,000000","0,000000","0,000000","0,000000","0,000000",2023-12-31 21:58,2023-12-31 22:58
3,2023-12-31 22:00,2023-12-31 23:00,DK2,Offshore Wind,"582,916687","590,250000","581,125000","649,291687","509,250000",2023-12-31 22:01,2023-12-31 23:01
4,2023-12-31 22:00,2023-12-31 23:00,DK2,Onshore Wind,"226,625000","210,375000","217,166672","193,958328","194,250000",2023-12-31 21:57,2023-12-31 22:57

In [249]:
df_forecast = df_forecast.pivot_table(
    index="HourUTC",
    columns=["PriceArea", "ForecastType"],
    values=["ForecastDayAhead", "ForecastIntraday","Forecast5Hour","Forecast1Hour","ForecastCurrent","TimestampUTC","TimestampDK"],
    aggfunc="first")

In [250]:
df_forecast

                 Forecast1Hour                                       \
PriceArea                  DK1                                  DK2
ForecastType     Offshore Wind Onshore Wind     Solar Offshore Wind
HourUTC
2022-12-31 23:00    156,208328   381,083344  0,000000    280,000000
2023-01-01 00:00     83,000000   617,291687  0,000000    332,708344
2023-01-01 01:00    135,916672   764,666687  0,000000    329,083344
2023-01-01 02:00    250,833328   937,416687  0,000000    328,625000
2023-01-01 03:00    421,125000   931,458313  0,000417    254,416672
...                        ...          ...       ...           ...
2023-12-31 18:00   1044,500000  2416,291748  0,006667    829,500000
2023-12-31 19:00   1034,666626  2249,000000  0,000000    784,166687
2023-12-31 20:00    935,250000  1863,041626  0,000000    757,208313
2023-12-31 21:00    975,041687  1586,208374  0,000000    716,000000
2023-12-31 22:00   1016,291687  1391,458374  0,000000    649,291687

                                        Forecast5Hour                         \
PriceArea                                         DK1
ForecastType     Onshore Wind     Solar Offshore Wind Onshore Wind     Solar
HourUTC
2022-12-31 23:00   340,875000  0,000000     69,500000   565,583313  0,000000
2023-01-01 00:00   396,583344  0,000000    140,083328   655,583313  0,000000
2023-01-01 01:00   482,416656  0,000000    114,291664   808,458313  0,000000
2023-01-01 02:00   580,041687  0,000000    155,833328   768,958313  0,000000
2023-01-01 03:00   515,291687  0,000000    339,291656   891,291687  0,000417
...                       ...       ...           ...          ...       ...
2023-12-31 18:00   372,500000  0,023750   1009,625000  2140,041748  0,014583
2023-12-31 19:00   342,750000  0,030000   1011,250000  2013,833374  0,001250
2023-12-31 20:00   273,833344  0,025000   1003,791687  1923,791626  0,000000
2023-12-31 21:00   239,583328  0,019167   1012,083313  1705,750000  0,000000
2023-12-31 22:00   193,958328  0,013750    999,875000  1671,416626  0,000000

                                ...       TimestampDK                    \
PriceArea                  DK2  ...               DK1               DK2
ForecastType     Offshore Wind  ...             Solar     Offshore Wind
HourUTC                         ...
2022-12-31 23:00    322,125000  ...  2022-12-31 23:53  2023-01-01 00:11
2023-01-01 00:00    324,916656  ...  2023-01-01 00:53  2023-01-01 01:06
2023-01-01 01:00    309,833344  ...  2023-01-01 01:53  2023-01-01 02:01
2023-01-01 02:00    315,666656  ...  2023-01-01 02:53  2023-01-01 03:06
2023-01-01 03:00    304,041656  ...  2023-01-01 03:53  2023-01-01 04:06
...                        ...  ...               ...               ...
2023-12-31 18:00    784,625000  ...  2023-12-31 18:58  2023-12-31 19:06
2023-12-31 19:00    747,291687  ...  2023-12-31 19:58  2023-12-31 20:01
2023-12-31 20:00    704,458313  ...  2023-12-31 20:58  2023-12-31 21:06
2023-12-31 21:00    663,750000  ...  2023-12-31 21:58  2023-12-31 22:06
2023-12-31 22:00    581,125000  ...  2023-12-31 22:58  2023-12-31 23:01

                                                          TimestampUTC  \
PriceArea                                                          DK1
ForecastType          Onshore Wind             Solar     Offshore Wind
HourUTC
2022-12-31 23:00  2022-12-31 23:57  2022-12-31 23:53  2022-12-31 23:11
2023-01-01 00:00  2023-01-01 01:02  2023-01-01 00:53  2023-01-01 00:06
2023-01-01 01:00  2023-01-01 01:57  2023-01-01 01:53  2023-01-01 01:01
2023-01-01 02:00  2023-01-01 02:57  2023-01-01 02:53  2023-01-01 02:06
2023-01-01 03:00  2023-01-01 04:02  2023-01-01 03:53  2023-01-01 03:06
...                            ...               ...               ...
2023-12-31 18:00  2023-12-31 19:02  2023-12-31 18:58  2023-12-31 18:06
2023-12-31 19:00  2023-12-31 20:00  2023-12-31 19:58  2023-12-31 19:01
2023-12-31 20:00  2023-12-31 20:57  2023-12-31 20:58  2023-12-31 20:06
2023-12-31 21:00  2023-12-31 22:01  2023-12-31 21:58  2023-12-31 21:06
2023-12-31 22:00  2023-12-31 22:57  2023-12-31 22:58  2023-12-31 22:01

                                                                        \
PriceArea                                                          DK2
ForecastType          Onshore Wind             Solar     Offshore Wind
HourUTC
2022-12-31 23:00  2022-12-31 22:57  2022-12-31 22:53  2022-12-31 23:11
2023-01-01 00:00  2023-01-01 00:02  2022-12-31 23:53  2023-01-01 00:06
2023-01-01 01:00  2023-01-01 00:57  2023-01-01 00:53  2023-01-01 01:01
2023-01-01 02:00  2023-01-01 01:57  2023-01-01 01:53  2023-01-01 02:06
2023-01-01 03:00  2023-01-01 03:02  2023-01-01 02:53  2023-01-01 03:06
...                            ...               ...               ...
2023-12-31 18:00  2023-12-31 18:02  2023-12-31 17:58  2023-12-31 18:06
2023-12-31 19:00  2023-12-31 19:00  2023-12-31 18:58  2023-12-31 19:01
2023-12-31 20:00  2023-12-31 19:57  2023-12-31 19:58  2023-12-31 20:06
2023-12-31 21:00  2023-12-31 21:01  2023-12-31 20:58  2023-12-31 21:06
2023-12-31 22:00  2023-12-31 21:57  2023-12-31 21:58  2023-12-31 22:01


PriceArea
ForecastType          Onshore Wind             Solar
HourUTC
2022-12-31 23:00  2022-12-31 22:57  2022-12-31 22:53
2023-01-01 00:00  2023-01-01 00:02  2022-12-31 23:53
2023-01-01 01:00  2023-01-01 00:57  2023-01-01 00:53
2023-01-01 02:00  2023-01-01 01:57  2023-01-01 01:53
2023-01-01 03:00  2023-01-01 03:02  2023-01-01 02:53
...                            ...               ...
2023-12-31 18:00  2023-12-31 18:02  2023-12-31 17:58
2023-12-31 19:00  2023-12-31 19:00  2023-12-31 18:58
2023-12-31 20:00  2023-12-31 19:57  2023-12-31 19:58
2023-12-31 21:00  2023-12-31 21:01  2023-12-31 20:58
2023-12-31 22:00  2023-12-31 21:57  2023-12-31 21:58

[8760 rows x 42 columns]

In [251]:
df_forecast = df_forecast.reset_index()

In [252]:
df_forecast.columns = ['HourUTC'] + [f'{col[0]}_{col[1]}' for col in df_forecast.columns[1:]]

In [253]:
df_forecast

,HourUTC,Forecast1Hour_DK1,Forecast1Hour_DK1,Forecast1Hour_DK1,Forecast1Hour_DK2,Forecast1Hour_DK2,Forecast1Hour_DK2,Forecast5Hour_DK1,Forecast5Hour_DK1,Forecast5Hour_DK1,...,TimestampDK_DK1,TimestampDK_DK2,TimestampDK_DK2,TimestampDK_DK2,TimestampUTC_DK1,TimestampUTC_DK1,TimestampUTC_DK1,TimestampUTC_DK2,TimestampUTC_DK2,TimestampUTC_DK2
0,2022-12-31 23:00,"156,208328","381,083344","0,000000","280,000000","340,875000","0,000000","69,500000","565,583313","0,000000",...,2022-12-31 23:53,2023-01-01 00:11,2022-12-31 23:57,2022-12-31 23:53,2022-12-31 23:11,2022-12-31 22:57,2022-12-31 22:53,2022-12-31 23:11,2022-12-31 22:57,2022-12-31 22:53
1,2023-01-01 00:00,"83,000000","617,291687","0,000000","332,708344","396,583344","0,000000","140,083328","655,583313","0,000000",...,2023-01-01 00:53,2023-01-01 01:06,2023-01-01 01:02,2023-01-01 00:53,2023-01-01 00:06,2023-01-01 00:02,2022-12-31 23:53,2023-01-01 00:06,2023-01-01 00:02,2022-12-31 23:53
2,2023-01-01 01:00,"135,916672","764,666687","0,000000","329,083344","482,416656","0,000000","114,291664","808,458313","0,000000",...,2023-01-01 01:53,2023-01-01 02:01,2023-01-01 01:57,2023-01-01 01:53,2023-01-01 01:01,2023-01-01 00:57,2023-01-01 00:53,2023-01-01 01:01,2023-01-01 00:57,2023-01-01 00:53
3,2023-01-01 02:00,"250,833328","937,416687","0,000000","328,625000","580,041687","0,000000","155,833328","768,958313","0,000000",...,2023-01-01 02:53,2023-01-01 03:06,2023-01-01 02:57,2023-01-01 02:53,2023-01-01 02:06,2023-01-01 01:57,2023-01-01 01:53,2023-01-01 02:06,2023-01-01 01:57,2023-01-01 01:53
4,2023-01-01 03:00,"421,125000","931,458313","0,000417","254,416672","515,291687","0,000000","339,291656","891,291687","0,000417",...,2023-01-01 03:53,2023-01-01 04:06,2023-01-01 04:02,2023-01-01 03:53,2023-01-01 03:06,2023-01-01 03:02,2023-01-01 02:53,2023-01-01 03:06,2023-01-01 03:02,2023-01-01 02:53
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,2023-12-31 18:00,"1044,500000","2416,291748","0,006667","829,500000","372,500000","0,023750","1009,625000","2140,041748","0,014583",...,2023-12-31 18:58,2023-12-31 19:06,2023-12-31 19:02,2023-12-31 18:58,2023-12-31 18:06,2023-12-31 18:02,2023-12-31 17:58,2023-12-31 18:06,2023-12-31 18:02,2023-12-31 17:58
8756,2023-12-31 19:00,"1034,666626","2249,000000","0,000000","784,166687","342,750000","0,030000","1011,250000","2013,833374","0,001250",...,2023-12-31 19:58,2023-12-31 20:01,2023-12-31 20:00,2023-12-31 19:58,2023-12-31 19:01,2023-12-31 19:00,2023-12-31 18:58,2023-12-31 19:01,2023-12-31 19:00,2023-12-31 18:58
8757,2023-12-31 20:00,"935,250000","1863,041626","0,000000","757,208313","273,833344","0,025000","1003,791687","1923,791626","0,000000",...,2023-12-31 20:58,2023-12-31 21:06,2023-12-31 20:57,2023-12-31 20:58,2023-12-31 20:06,2023-12-31 19:57,2023-12-31 19:58,2023-12-31 20:06,2023-12-31 19:57,2023-12-31 19:58
8758,2023-12-31 21:00,"975,041687","1586,208374","0,000000","716,000000","239,583328","0,019167","1012,083313","1705,750000","0,000000",...,2023-12-31 21:58,2023-12-31 22:06,2023-12-31 22:01,2023-12-31 21:58,2023-12-31 21:06,2023-12-31 21:01,2023-12-31 20:58,2023-12-31 21:06,2023-12-31 21:01,2023-12-31 20:58
8759,2023-12-31 22:00,"1016,291687","1391,458374","0,000000","649,291687","193,958328","0,013750","999,875000","1671,416626","0,000000",...,2023-12-31 22:58,2023-12-31 23:01,2023-12-31 22:57,2023-12-31 22:58,2023-12-31 22:01,2023-12-31 21:57,2023-12-31 21:58,2023-12-31 22:01,2023-12-31 21:57,2023-12-31 21:58

In [254]:
df_spotprice = pd.read_csv("df_spotprice.csv", sep=";")

In [255]:
df_spotprice.head()

            HourUTC            HourDK PriceArea SpotPriceDKK SpotPriceEUR
0  2023-12-31 22:00  2023-12-31 23:00        DE    18,190001     2,440000
1  2023-12-31 22:00  2023-12-31 23:00       DK1   200,309998    26,870001
2  2023-12-31 22:00  2023-12-31 23:00       DK2   200,309998    26,870001
3  2023-12-31 22:00  2023-12-31 23:00       NO2   442,140015    59,310001
4  2023-12-31 22:00  2023-12-31 23:00       SE3   200,309998    26,870001

In [256]:
df_spotprice = df_spotprice.pivot_table(
    index="HourUTC",
    columns="PriceArea",
    values=["SpotPriceDKK", "SpotPriceEUR"],
    aggfunc="first")

In [257]:
df_spotprice = df_spotprice.reset_index()

In [258]:
df_spotprice.columns = ['HourUTC'] + [f'{col[0]}_{col[1]}' for col in df_spotprice.columns[1:]]

In [259]:
df_spotprice.columns = [col.replace('SpotPrice', '') for col in df_spotprice.columns]

In [260]:
df_spotprice

,HourUTC,DKK_DE,DKK_DK1,DKK_DK2,DKK_NO2,DKK_SE3,DKK_SE4,DKK_SYSTEM,EUR_DE,EUR_DK1,EUR_DK2,EUR_NO2,EUR_SE3,EUR_SE4,EUR_SYSTEM
0,2022-12-31 23:00,"-38,450001","14,950000","14,950000","887,320007","14,950000","14,950000","174,309998","-5,170000","2,010000","2,010000","119,320000","2,010000","2,010000","23,440001"
1,2023-01-01 00:00,"-7,960000","10,260000","10,260000","809,309998","10,260000","10,260000","161,369995","-1,070000","1,380000","1,380000","108,830002","1,380000","1,380000","21,700001"
2,2023-01-01 01:00,"-10,930000","0,670000","0,670000","761,419983","0,670000","0,670000","119,360001","-1,470000","0,090000","0,090000","102,389999","0,090000","0,090000","16,049999"
3,2023-01-01 02:00,"-37,779999","0,590000","0,590000","686,830017","0,590000","0,590000","85,220001","-5,080000","0,080000","0,080000","92,360001","0,080000","0,080000","11,460000"
4,2023-01-01 03:00,"-33,389999","0,370000","0,370000","614,700012","0,370000","0,370000","34,580002","-4,490000","0,050000","0,050000","82,660004","0,050000","0,050000","4,650000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,2023-12-31 18:00,"67,089996","295,510010","295,510010","468,760010","295,510010","295,510010","369,829987","9,000000","39,639999","39,639999","62,880001","39,639999","39,639999","49,610001"
8756,2023-12-31 19:00,"59,270000","260,100006","260,100006","466,670013","260,100006","260,100006","335,459991","7,950000","34,889999","34,889999","62,599998","34,889999","34,889999","45,000000"
8757,2023-12-31 20:00,"44,730000","220,660004","220,660004","464,059998","220,660004","220,660004","333,750000","6,000000","29,600000","29,600000","62,250000","29,600000","29,600000","44,770000"
8758,2023-12-31 21:00,"79,620003","213,729996","213,729996","460,480011","213,729996","213,729996","328,010010","10,680000","28,670000","28,670000","61,770000","28,670000","28,670000","44,000000"
8759,2023-12-31 22:00,"18,190001","200,309998","200,309998","442,140015","200,309998","200,309998","298,940002","2,440000","26,870001","26,870001","59,310001","26,870001","26,870001","40,099998"